extends layout.pug 

block content 
     div(class="center-login")
        h2 Услуги
        table(border="1")
         thead 
            tr 
               th Название Услуги
               th Цена
         tbody 
            tr 
               th Ремонт ПК
               th от 1500 руб.
            tr 
               th Ремонт камер
               th от 3000 руб.
            tr 
               th Ремонт телефонов
               th от 500 руб.
            tr 
               th Ремонт Сети
               th от 2300 руб.
            tr 
               th Проверка устройства
               th от 1000 руб.
            tr 
               th Обновление ПК
               th в зависимости от комплектующих