extends layout.pug

block content
    div(class="center-login")
        form(action="", method="post")
            input(type="text" placeholder="Что сломалось?", name="item")
            textarea(rows="10"  name="description" placeholder="Опишите что именно сломалось? ")
            input(type="submit", value="Отправит заявку")