extends layout.pug

block content
    div(class="center-login")
            form(action="", method="post") 
                h2 Вход
                input(type="text" placeholder="Введите логин" name="login")
               
                input(type="password" placeholder="Введите пароль" name="pass")
                
                input(type="submit", value="Войти") 